@keyframes sliding {
    0% {
        background-color: blueviolet;
        left: 0;
        top: 0;
    }
    50% {
        top: 150px;
        background-color: crimson;
    }
    100% {
        background-color: rgb(216, 80, 39);
        left: 400px;
        top: 0;
    }
}

.stage {
    width: 500px;
    height: 250px;
    background-color: lightgreen;
    border: 2px solid rgb(67, 21, 193);
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blueviolet;
    animation: sliding 2s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
    position: relative;
}